@import "bourbon"
@import "breakpoint"

$sans: "jaf-facitweb", sans-serif
$serif: "freight-text-pro", sans-serif

$color: #8426a0

$mobile: 0 600px
$desktop: 601px

body
  margin: 0
  font-family: $serif
  font-size: 16px
  -webkit-font-smoothing: antialiased
  text-rendering: optimizelegibility
  a
    color: $color
    text-decoration: none

.container
  max-width: 1000px
  margin: 0 auto
  padding: 50px

.header
  margin-bottom: 75px
  .logo
    height: 72px
  h2
    font-family: $sans
    font-size: 18px
    font-weight: normal

.list
  .item
    display: block
    overflow: hidden
    border-top: 1px solid #666
    padding: 25px 0
    margin-top: 25px
    .left
      @include breakpoint($desktop)
        float: left
        width: 40%
        @include breakpoint($mobile)
          width: 100%
      .image
        width: 100%
    .right
      box-sizing: border-box
      @include breakpoint($desktop)
        float: right
        width: 60%
        padding-left: 30px
      @include breakpoint($mobile)
        padding-top: 25px
      .explanation
        font-size: 36px
      .description
        margin-top: 15px
        font-size: 24px
      .author
        margin-top: 25px
        font-size: 13px
      .references
        font-size: 12px
        list-style: none
        padding-left: 0
        li:before
          content: "– "

.footer
  margin-top: 50px
  border-top: 1px solid #666
  p
    margin: 25px 0
