@import "bourbon"
@import "breakpoint"

$sans: "jaf-facitweb", sans-serif
$serif: "freight-text-pro", sans-serif

$mobile: 0 700px
$desktop: 701px

body
  margin: 0
  font-family: $serif
  font-size: 16px
  -webkit-font-smoothing: antialiased
  text-rendering: optimizelegibility
  a
    color: inherit
    text-decoration: underline

.container
  max-width: 900px
  margin: 0 auto
  padding: 50px

.header
  margin-top: 100px
  margin-bottom: 75px
  .logo
    height: 72px
  h2
    font-family: $sans
    font-size: 18px
    font-weight: normal

.list
  .item
    display: block
    overflow: hidden
    border-top: 2px solid #ddd
    padding: 25px 0
    margin-top: 50px
    .left
      @include breakpoint($desktop)
        float: left
        width: 40%
        @include breakpoint($mobile)
          width: 100%
      .image
        width: 100%
        display: block
      .graph
        width: 100%
        background-color: #eee
        .node
          stroke-width: 1.5
          stroke: black
          fill: white
          text
            stroke: none
            fill: black
            text-anchor: middle
            font-family: $sans
            font-weight: normal
        .link
          stroke-width: 1.5
          stroke: black
    .right
      box-sizing: border-box
      @include breakpoint($desktop)
        float: right
        width: 60%
        padding-left: 25px
      @include breakpoint($mobile)
        padding-top: 25px
      .explanation
        margin-top: -5px
        font-size: 36px
      .description
        margin-top: 15px
        font-size: 24px
      .attributes
        width: 70%
        margin-top: 20px
        th, td
          padding:
            top: 1px
            right: 10px
            bottom: 1px
          font-size: 14px
        th
          width: 15%
          text-align: left
        td
          width: 20%

.footer
  margin-top: 50px
  font-family: $sans
  p
    margin: 25px 0
    font-size: 15px

.tooltip
  .tooltip-content
    font-family: $sans !important
    font-size: 14px !important
    font-weight: bold !important
